#Independent settings for the planner's costmap
global_costmap:
    publish_voxel_map: true
    global_frame: odom
    robot_base_frame: base_link
    update_frequency: 5.0
    static_map: false
    rolling_window: true
    width: 20.0
    height: 20.0
    resolution: 0.05
    origin_x: 0.0
    origin_y: 0.0
    obstacle_layer:
      observation_sources: laser_scan sonar_scan
      laser_scan: {data_type: LaserScan, topic: /RosAria/S3Series_1_laserscan, sensor_frame: laser_frame, marking: true, clearing: true}
      sonar_scan: {data_type: PointCloud2, topic: /RosAria/sonar_pointcloud2, sensor_frame: base_link, marking: true, clearing: true, observation_persistence: 10}

    inflation_layer:
      inflation_radius: 0.5  
      cost_scaling_factor: 0.5
