<launch>
  <arg name ="robot_id" default="pioneer"/>
	<arg name ="robot_name" default="pioneer_lx"/>
	<arg name ="laser_env_topic" default ="env_scan"/>
	<arg name ="cam_env_topic" default ="env_cam"/>
	<arg name="tf_prefix" default="$(arg robot_id)"/>

  <node pkg ="tf" type ="static_transform_publisher" name ="laser_camera_broadcaster" args ="0 0 0.05 1.61 3.14 1.57 $(arg robot_id)/laser_env $(arg robot_id)/cam_env 100" />
  
<!--camera node-->
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="camera_frame_id" type="string" value="$(arg robot_id)/cam_env" />
    <param name="video_device" value="/dev/lifecam"/>
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="io_method" value="mmap"/>
    <remap from="usb_cam/image_raw" to="headlessRT/usb_cam/image_raw"/>
  </node>
</launch>
