<!-- Launch file to interface Pioneer LX with Camera and Hokuyo laser  -->
<launch>
	<!--arguments-->
	<arg name ="robot_id" default="pioneer"/>
	<arg name ="robot_name" default="pioneer_lx"/>
	<arg name ="laser_env_topic" default ="env_scan"/>
	<arg name ="cam_env_topic" default ="env_cam"/>
	<arg name="tf_prefix" default="$(arg robot_id)"/>

	<!--coordinates transform-->
	<node pkg ="tf" type ="static_transform_publisher" name ="laser_camera_broadcaster" args ="0 0 0.05 1.61 3.14 1.57 $(arg robot_id)/laser_env $(arg robot_id)/cam_env 100" />
	<node pkg ="tf" type ="static_transform_publisher" name ="base_link_laser_broadcaster" args ="0.167 0 0.52 0 0 0 $(arg robot_id)/base_link $(arg robot_id)/laser_env 100" />

	<!--rosaria node-->
	<node name="RosAria"	pkg="rosaria"	type="RosAria"	output="screen">
	  <param name="publish_aria_lasers"	type="bool" 	value="true"/>
	  <param name="odom_frame" type="string" value ="$(arg tf_prefix)/odom"/>
	  <param name="base_link_frame" type="string" value ="$(arg tf_prefix)/base_link"/>
	  <param name="laser_frame" type="string" value ="$(arg tf_prefix)/laser"/>
	  <param name="bumpers_frame" type="string" value ="$(arg tf_prefix)/bumpers"/>
	  <param name="sonar_frame" type="string" value ="$(arg tf_prefix)/sonar"/>
    <param name="tf_prefix_name" type="string" value ="$(arg tf_prefix)"/>
	  <remap from="laser_frame" to="$(arg tf_prefix)/laser_pioneer"/>
  </node>

	<!--camera node-->
	<node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
	  <param name="camera_frame_id" type="string" value="$(arg robot_id)/cam_env" />
	  <param name="video_device" value="/dev/lifecam"/>
	  <param name="image_width" value="640" />
	  <param name="image_height" value="480" />
	  <param name="pixel_format" value="yuyv" />
	  <param name="io_method" value="mmap"/>
	  <remap from="usb_cam/image_raw" to="headlessRT/usb_cam/image_raw"/>
	</node>

	<!--hokuyo node-->
	<node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node" respawn="false" output="screen">
	  <param name="frame_id" type ="string" value ="$(arg robot_id)/laser_env"/>
	  <param name="port" type="string" value="/dev/hokuyo"/>
	  <param name="intensity" type="bool" value="false"/>
	  <remap from = "scan" to ="headlessRT/hokuyo/$(arg laser_env_topic)"/>
	</node>

	<param name="use_sim_time" value="true"/>
	<rosparam command="load" file="$(find hdetect)/yaml/laser_filter.yaml"/>

	<node pkg="hdetect" type="headlessRT" name="headlessRT" output="screen" cwd="node"
		args="usb_cam/image_raw hokuyo/env_scan">
		<param name="/camera_yaml" value="$(find hdetect)/yaml/head_camera.yaml"/>
		<param name="/camera_name" value="lifecam"/>
		<param name="/boost_xml" value="$(find hdetect)/data/trained_boost.xml"/>
		<!--remap from="pioneer_lx/headlessRT/usb_cam/image_raw" to="pioneer_lx/usb_cam/image_raw"/-->
		<!--remap from="pioneer_lx/headlessRT/hokuyo/env_scan" to="pioneer_lx/hokuyo/env_scan"/-->
	<rosparam command="load" file="$(find hdetect)/yaml/detector.yaml"/>
	</node>
 </launch>
