<!-- Launch file for test mode 3 at Pioneer - Sensors Paper-->
<launch>
    <arg name="robot_name" default="plxbot"/>

    <!-- navigation files -->
    <arg name="motion_type" default="diff" />

    <!--- Run AMCL -->
    <include file="$(find plx_walker_navigation)/launch/amcl.launch">
  	   <arg name="motion_type" value="$(arg motion_type)"/>
    </include>

    <!-- Run move_base -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <!--remap from="/cmd_vel" to="/RosAria/cmd_vel"/-->
      <remap from="/cmd_vel" to="/nav_cmd_vel"/>
      <rosparam file="$(find plx_walker_navigation)/config/move_base_params.yaml" command="load" />
      <rosparam file="$(find plx_walker_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find plx_walker_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find plx_walker_navigation)/config/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find plx_walker_navigation)/config/global_costmap_params_map.yaml" command="load" />
      <param name="global_costmap/static_layer/map_topic" value="/map" /> <!-- fix just in case we loaded the two_maps -->
      <rosparam file="$(find plx_walker_navigation)/config/teb_local_planner_$(arg motion_type)_params.yaml" command="load" />
      <rosparam file="$(find plx_walker_navigation)/config/global_planner_params.yaml" command="load" />
    </node>

	<!--admittance_controller node-->
    <node name="admittance" pkg="plx_walker_force_control" type="admittance_controller_v2.py" output="screen"/>

	<!--pose force node-->	
    <node name="pose_force_pub" pkg="plx_walker_force_control" type="pose_force_pub.py" output="screen"/>

	<!--shared nav node-->	
    <node name="shared_nav" pkg="plx_walker_force_control" type="shared_nav.py" output="screen"/>

</launch>
